body {
    font-family: Arial, sans-serif;
    background:#111;
    color:#eee;
    display:flex;
    justify-content:center;
    padding:20px;
}

#dashboard {
    width:750px;
    text-align:center;
}

table {
    width:100%;
    margin-top:20px;
    border-collapse:collapse;
}

th, td {
    padding:8px;
    border-bottom:1px solid #444;
    text-align:center;
}

td.best {
    font-weight:bold;
    border:1px solid #eee;
}
